<div
  *ngIf="isLoggingLoading"
  class="h-screen grid w-full place-items-center items-center"
>
  <div
    class="animate-spin rounded-full h-5 w-5 border-b-2 border-blue-500 mx-auto"
  ></div>
</div>

<div
  *ngIf="!isLoggedIn && !isLoggingLoading"
  class="h-screen grid w-full place-items-center items-center bg-[#F4E8CF]"
>
  <h1 class="text-4xl">Hi Welcome Back!</h1>

  <p class="text-xl">Note taking app</p>

  <img class="w-96" src="./assets/note-img.jpg" alt="" />

  <div class="mx-auto">
    <button
      (click)="handleLogin()"
      class="bg-[#000] text-white w-fit px-4 py-2 rounded"
    >
      Login with Github
    </button>
  </div>
</div>

<div class="bg-slate-400 h-[100vh]">
  <div *ngIf="isLoggedIn && !isLoggingLoading" class="md:w-[80%] mx-auto">
    <div class="">
      <app-header
        [profile]="profile"
        (clearProfile)="clearProfile()"
      ></app-header>

      <main class="">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
